::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  font-family: Helvetica, Arial, sans-serif;
}






